.container {
  width: 100%;
  flex-direction: column;

  .content {
    flex: 1;
    gap: var(--spacing-primary);
    justify-content: flex-start;
    align-items: flex-start;
    padding: var(--spacing-primary);
    flex-direction: column;
  }

  .nav {
    background-color: var(--color-surface);

    .link {
      flex: 1;
      justify-content: center;
      padding: var(--spacing-primary);

      &:hover {
        background-color: var(--color-surface2);
      }
    }

    .linkActive {
      background-color: var(--color-surface2);
    }
  }
}
