.container {
  gap: var(--spacing-tertiary);

  .dropZone {
    height: 50px;
    /* transition: height 0.3s;
    transition: padding 0.3s; */

    background-color: var(--color-surface1);

    * {
      visibility: hidden;
    }
  }

  .dropZoneShow {
    height: fit-content;
  }

  .dropZoneHide {
    height: 0px;
    padding: 0px;
  }

  .dropZoneNoTransition {
    transition: unset;
  }

  .item {
    transition: height 0.3s;
    height: 50px;
  }

  .draggedItem {
    position: absolute;
    z-index: 99;
    width: 100%;
    background-color: var(--color-surface3);
  }
}
