@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Regular.woff2");
  font-display: swap;
}

* :not(head, script, footer *) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-direction: column;
  border: none;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  text-wrap: balance;
  background-color: var(--color-background);
  color: var(--color-text-primary);
  text-decoration: none;
  font-family: "Roboto";
  font-size: var(--font-size-body);
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: var(--color-text-primary);
}

.surface0 {
  background-color: var(--color-surface0);
}

.surface1 {
  background-color: var(--color-surface1);
}

.surface2 {
  background-color: var(--color-surface2);
}
