:root {
  /* Layout */
  --spacing-primary: 12px;
  --spacing-secondary: 8px;
  --spacing-tertiary: 4px;

  --roundness: 4px;

  /* Colors */
  --color-background: rgb(10, 10, 10);
  --color-surface0: rgb(20, 20, 20);
  --color-surface1: rgb(30, 30, 30);
  --color-surface2: rgb(40, 40, 40);
  --color-surface3: rgb(50, 50, 50);

  --color-primary: #5e349d;
  --color-success: #358e29;
  --color-danger: #bf1d1d;

  --color-text-primary: rgba(255, 255, 255, 0.85);
  --color-text-secondary: rgba(255, 255, 255, 0.65);
  --color-text-tertiary: rgba(255, 255, 255, 0.5);
}
