.container {
  gap: var(--spacing-primary);
  flex-direction: column;
  border-radius: var(--roundnesss);
  background-color: var(--color-surface0);

  .input {
    padding: var(--spacing-primary);
    border-radius: var(--roundnesss);
    color: var(--color-text-primary);
    font-size: var(--font-size-body);
  }
}
