.header {
  background-color: var(--color-surface0);
  width: 100%;
}

.newNote {
  gap: var(--spacing-primary);
}

.refreshButton {
  margin-left: auto;
}

.note {
  width: 100%;
}

.newNoteForm {
  gap: var(--spacing-primary);
}
